#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #b00b69!important;
}

.navbar {
    background-image: linear-gradient(to right, #eac75ebd, #9fe3609d, #42f5e380);
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #46042a!important;
    font-weight: 600;
    font-family: inherit;
    font-size: 16px;
}

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}